<!DOCTYPE html>
<html>
<head>
    <title>Search Student</title>
</head>
<body>

<h2>Search Student</h2>

<form method="POST">
    Roll Number:
    <input type="text" name="roll_no" required>
    <button type="submit">Search</button>
</form>

{% if student %}

<hr>

<h3>Student Details</h3>

<p>Name : {{ student[1] }}</p>
<p>Roll No : {{ student[2] }}</p>
<p>Department : {{ student[3] }}</p>
<p>Student Type : {{ student[4] }}</p>

{% elif request.method=="POST" %}

<p>No Student Found</p>

{% endif %}

</body>
</html>